<%= form_for(@broadcast_medium) do |f| %>
  <% if @broadcast_medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@broadcast_medium.errors.count, "error") %> prohibited this broadcast_medium from being saved:</h2>

      <ul>
      <% @broadcast_medium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
