<%= form_for(@broadcast_message) do |f| %>
  <% if @broadcast_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@broadcast_message.errors.count, "error") %> prohibited this broadcast_message from being saved:</h2>

      <ul>
      <% @broadcast_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :broadcast %><br />
    <%= f.text_field :broadcast %>
  </div>
  <div class="field">
    <%= f.label :broadcast_media %><br />
    <%= f.text_field :broadcast_media %>
  </div>
  <div class="field">
    <%= f.label :all_media %><br />
    <%= f.check_box :all_media %>
  </div>
  <div class="field">
    <%= f.label :english_message %><br />
    <%= f.text_area :english_message %>
  </div>
  <div class="field">
    <%= f.label :spanish_message %><br />
    <%= f.text_area :spanish_message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
